$background_color: #212121;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $background_color;
}
h1 {
  color: white;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  button {
    color: $background_color;
  }
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: $background_color;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //text-align: center;
  transition: all 0.5s ease-out;
  li {
    flex: 1;
  }
}
.trash-btn,
.complete-btn {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgba(57, 201, 57, 0.781);
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.remove {
  opacity: 0;
  transform: scale(0.8);
}

select {
  outline: none;
  border: none;
  color: $background_color;
  font-size: 0.9rem;
  width: 10rem;
  padding: 1rem;
  margin: 5rem;
  cursor: pointer;
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
}
